.to {
  background-color: #660066;
  color: rgb(255, 255, 255);
  display: flex;
  align-self: self-end;
}

.message {
  max-width: fit-content;
  width: 100%;
  margin: 25px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 25px;
  font-size: x-large;
  text-overflow: ellipsis;
}
.from {
  background-color: #180047;
  color: rgb(255, 255, 255);
}

.inbox {
  height: 70%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
