.to {
  background-color: #660066;
  color: aliceblue;
  display: flex;
  align-self: self-end;
}

.message {
  width: 15%;
  margin: 25px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  font-size: x-large;
}

.from {
  background-color: #180047;
}

.inbox {
  height: 70%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
