.banner-container {
    background-image: url("../../../public/Banner_image.gif");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: white;
    font-size: 6rem;
    text-align: center;
    text-shadow: black 0px 0px 10px;
}
