.textBox {
  background-color: #66004d;
  height: 15vh;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submit {
  background-color: #180047;
  width: 5%;
  height: 80%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
}
