.sidebar {
    position: fixed;
    top: 105px;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: black;
    transition: all 0.5s;
  }
.show-sidebar {
    left: 0;
  }
.sidebar-links{
    margin-top: 20%;
    border: 1px solid;
    padding: 20px 20px;
    text-align: center;
    transition: all 0.5s;
  }
.link{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
.sidebar-links:hover{
    background:#660066;
    transition: all 0.5s;
  }